<!-- Begin Who We Are Section -->
<section id="besttenant" class="section section-bgimage-yes">
<div class="section-inner">
  <div class="section-overlay"></div>
  <div class="container section-content">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h2 class="main-title">Your Best Tenant</h2>

          <span class="section-line"></span>
        </div>
        <!-- //.section-title -->
      </div>
      <!-- //.col-md-12 -->
    </div>
    <!-- //.row -->

    <div class="row">
      <div class="col-md-4">
        CHART GOES HERE
      </div>
      <div class="col-md-8">
        <div class="who-we-are-text">
          <p>
          With StrideUp the tenant living

          in the property also owns a 

          share of that property.
          </br>
          With long term agreements, 

          better property maintenance 

          and lower expenses from 

          churn, our model brings 

          fundamental efficiency 

          savings to your investment.
          <br/>

          These savings are passed 

          onto to you, our customers, 

          as better investment returns 

          and lower rents.
          </p>

          <!-- //.page-scroll -->
        </div>
        <!-- //.who-we-are-text -->
      </div>
      <!-- //.col-md-6 -->

      <!-- //.col-md-6 -->
    </div>
    <!-- //.row -->
  </div>
  <!-- //.section-content -->
</div>
<!-- //.section-inner -->
</section>
<!-- //End Who We Are Section -->




