<!-- Begin Why Us Section -->
<section id="diversify" class="section">
<div class="section-inner">
  <div class="container section-content">
    <br />    
    <!-- //.row -->

    <!-- Begin Content Boxes -->
    <div class="row">
        <div class="col-md-8 text-left">
          Chart goes here
          <!-- //.counter-item -->
        </div> 
        <div class="col-md-4 text-left">
          <h2 class="main-title">Diversify Your Risk</h2>
          Investment always involves risk,

          however you as an investor can 

          take steps to reduce your risk 

          while maintaining good returns.
          <br/>

          Individual property returns can 

          have ups and downs with repair 

          bills, tenant problems, void 

          periods and other unforeseen 

          issues.
          <br/>

          StrideUp makes it easy to reduce 

          these risks - by spreading your 

          investment over several 

          properties you optimise your 

          return to risk ratio.
        </div>
        <!-- //.col-xs-6 col-sm-6 col-md-3 -->
        <!-- //.col-xs-6 col-sm-6 col-md-3 -->     
      </div>
      <!-- //.col-md-12 -->
    <!-- //End Content Boxes -->      
  </div>
  <!-- //.section-content -->
</div>
<!-- //.section-inner -->
</section>
<!-- //End Why Us Section -->



