<!-- Begin Why Us Section -->
<section id="future" class="section">
<div class="section-inner">
  <div class="container section-content">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <br />
          <h2 class="main-title">The Future of Property Investing</h2>
          <br />
        </div>
        <!-- //.section-title -->
      </div>
      <!-- //.col-md-12 -->
    </div>
    <br />    
    <!-- //.row -->

    <!-- Begin Content Boxes -->
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 text-left">
          StrideUp believes technology has the power to 

          drive change in traditional finance.
          <br/>

          We work by cutting out bank mortgages - by 

          directly matching investors with homebuyers

          you get the opportunity to earn great property 

          returns.
          <br/>

          Join our community and help households get 

          closer to home ownership.
          <br/>

          Technology to create a fairer system.
        </div>
        <!-- //.col-xs-6 col-sm-6 col-md-3 -->
        <div class="col-md-6 text-left">
          IPHONE IMAGE
          <!-- //.counter-item -->
        </div> 
        <!-- //.col-xs-6 col-sm-6 col-md-3 -->     
      </div>
      <!-- //.col-md-12 -->
    </div>
    <!-- //End Content Boxes -->      
  </div>
  <!-- //.section-content -->
</div>
<!-- //.section-inner -->
</section>
<!-- //End Why Us Section -->


