<!-- Begin Our Services Section -->
<section id="howitworks" class="section">
<div class="section-inner">
  <div class="container section-content">

    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="funny-boxes float-shadow not-right-column text-center">

          <div class="funny-boxes-text">
            <h3>Ring Fenced</h3>
            <p>
            Your investment is held 

            separately from our own 

            funds and so even if we 

            were to face financial 

            trouble, your investment is 

            safe.
            </p>
          </div>
          <!-- //.funny-boxes-text -->
        </div>
        <!-- //.funny-boxes -->
      </div>
      <!-- //.col-sm-4 col-md-4 -->

      <div class="col-sm-4 col-md-4">
        <div class="funny-boxes float-shadow not-right-column text-center">

          <div class="funny-boxes-text">
            <h3>Simple, Low Fees</h3>
            <p>
            We don’t charge anything 

            upfront to invest. We make

            our money from a fee for 

            property management and 

            success fee.
            </p>
          </div>
          <!-- //.funny-boxes-text -->
        </div>
        <!-- //.funny-boxes -->
      </div>
      <!-- //.col-sm-4 col-md-4 -->

      <div class="col-sm-4 col-md-4">
        <div class="funny-boxes float-shadow text-center">
          <div class="funny-boxes-text">
            <h3>Investment Exit</h3>
            <p>
            All our investments have a

            defined end date, but if you 

            want your money back you 

            can sell earlier.
            </p>
          </div>
          <!-- //.funny-boxes-text -->
        </div>
        <!-- //.funny-boxes -->
      </div>
      <!-- //.col-sm-4 col-md-4 -->
    </div>
    <!-- //.row -->
  </div>
  <!-- //.section-content -->
</div>
<!-- //.section-inner -->
</section>
<!-- //End Our Services Section -->




