<!-- Begin Who We Are Section -->
<section id="afford" class="section section-bgimage-yes">
<div class="section-inner">
  <div class="section-overlay"></div>
  <div class="container section-content">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h2 class="main-title">Afford More Than You Imagined</h2>

          <span class="section-line"></span>
        </div>
        <!-- //.section-title -->
      </div>
      <!-- //.col-md-12 -->
    </div>
    <!-- //.row -->

    <div class="row">
      <div class="col-md-4">
        HERE GOES HOUSE ANIM
      </div>
      <!-- //.col-md-6 -->

      <div class="col-md-8">
        <div class="who-we-are-text">
          <p>
          At StrideUp we don’t want you to have to

          compromise on your home.

          We take a different approach to the banks. 

          Start with as little as 5% down and buy your 

          home in stages. 

          With our approach you can afford more house 

          than you imagined possible.

          Don’t get stuck in rented accommodation. 

          Start buying today and enjoy affordable 

          housing security.
          </p>

          <div class="page-scroll">
            <a href="#" class="btn btn-lg btn-rj">Learn more about home buying</a>
          </div>
          <!-- //.page-scroll -->
        </div>
        <!-- //.who-we-are-text -->
      </div>
      <!-- //.col-md-6 -->
    </div>
    <!-- //.row -->
  </div>
  <!-- //.section-content -->
</div>
<!-- //.section-inner -->
</section>
<!-- //End Who We Are Section -->


