<!-- Begin Our Services Section -->
<section id="choice" class="section section-bgimage-yes">
<div class="section-inner">
  <div class="section-overlay"></div>
  <div class="container section-content">

    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 text-center">
          <div class="counter-item not-right-column top-column">
            <h1>Homebuyers</h1>
            <br />
            <br />
            <h2>Find the home you want to live in and come to us to get it funded</h2>
            <br />
            <br />
            <br />
            <div>
              <%= link_to homebuyers_url, class: "btn btn-lg btn-success" do %>Learn More About Home Buying<%end %>
            </div>
          </div>
          <!-- //.counter-item -->
        </div>
        <!-- //.col-xs-6 col-sm-6 col-md-3 -->
        <div class="col-md-6 text-center">
          <div class="counter-item not-right-column">
            <h1>Investors</h1>
            <br />
            <br />
            <h2>Grow your property wealth with unprecedented ease</h2>
            <br />
            <br />
            <br />
            <br />
            <div>
              <%= link_to investors_url, class: "btn btn-lg btn-info" do %>Learn More About Investing<% end %>
            </div>
          </div>
          <br />
          <!-- //.counter-item -->
          <br />
        </div>
        <!-- //.col-xs-6 col-sm-6 col-md-3 -->
      </div>
      <!-- //.col-md-12 -->
    </div>
    <!-- //.row -->
  </div>
  <!-- //.section-content -->
</div>
<!-- //.section-inner -->
</section>

