<!-- Begin Footer -->
<footer class="footer">

<!-- Begin Footer Section -->
<section id="footer">
<div class="container">    
  <div class="row">
    <div class="col-sm-4 col-md-4 footer-column not-right-column">
      <div class="footer-text">
        <h4>Get In Touch</h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla rebds vel pellentesqu</p>

        <ul class="icon-list list-unstyled">
          <li>
          <i class="fa fa-phone"></i> +622176811
          </li>

          <li>
          <i class="fa fa-envelope-o"></i> no-reply@rinjani.com
          </li>

          <li>
          <i class="fa fa-map-marker"></i> 14374 Salemba Raya, Central Jakarta
          </li>

          <li>
          <i class="fa fa-clock-o"></i> Monday to Friday - 8.30 PM to 17 PM
          </li>
        </ul>

        <ul class="social-icon-list list-unstyled list-inline">
          <li>
          <a href="#"><i class="fa fa-facebook"></i></a>
          </li>

          <li>
          <a href="#"><i class="fa fa-twitter"></i></a>
          </li>

          <li>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          </li>

          <li>
          <a href="#"><i class="fa fa-youtube"></i></a>
          </li>

          <li>
          <a href="#"><i class="fa fa-pinterest"></i></a>
          </li>

          <li class="hidden-xs">
          <a href="#"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <!-- //.footer-text -->
    </div>
    <!-- //.footer-column -->

    <div class="col-sm-4 col-md-4 footer-column not-right-column">
      <div class="footer-text">
        <h4>About Us</h4>

        <p>Gunung Rinjani adalah gunung yang berlokasi di Pulau Lombok, Nusa Tenggara Barat. Gunung ini merupakan gunung favorit bagi pendaki Indonesia karena keindahan pemandangannya. Gunung ini merupakan bagian dari Taman Nasional Gunung Rinjani yang memiliki luas sekitar 41.330 ha dan ini akan diusulkan penambahannya sehingga menjadi 76.000 ha ke arah barat dan timur. Secara administratif gunung ini berada dalam wilayah tiga kabupaten: Lombok Timur, Lombok Tengah dan Lombok Barat.</p>
      </div>
      <!-- //.footer-text -->
    </div>
    <!-- //.footer-column -->

    <div class="col-sm-4 col-md-4 footer-column">
      <div class="footer-text">
        <h4>Newsletter</h4>

        <p>Keep yourself up to date!</p>

        <form role="form" class="newsletter-form">
          <div class="form-group">
            <label for="email_address">Email Address*</label>
            <input type="email" id="email_address" class="form-control">
          </div>

          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" class="form-control">
          </div>

          <button type="submit" class="btn btn-rj">Subscribe</button>
        </form>
      </div>
      <!-- //.footer-text -->
    </div>
    <!-- //.footer-column -->
  </div>
  <!-- //.row -->
</div>
<!-- //.container -->
</section>
<!-- //End Footer Section -->

