<!-- Begin Why Us Section -->
<section id="mortage" class="section">
<div class="section-inner">
  <div class="container section-content">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <br />
          <h2 class="main-title">Life doesn’t wait for a mortgage.</h2>
          <br />
          <h3 class="sub-title">Making home ownership possible without the banks. </h3>
        </div>
        <!-- //.section-title -->
      </div>
      <!-- //.col-md-12 -->
    </div>
    <br />    
    <!-- //.row -->

    <!-- Begin Content Boxes -->
    <div class="row">
        <div class="col-md-6 col-xs-6 text-left">
          <div class="counter-item not-right-column top-column">
            <p>StrideUp DOES:</p>
            <table class="table">
              <tbody>
                <tr>
                  <td>Get you more house for your money</td>
                  <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                  <td>Reduce your monthly payments</td>
                  <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                  <td>Help you onto the property ladder</td>
                  <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                  <td>Give you housing security</td>
                  <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                  <td>Treat all customers fairly</td>
                  <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                  <td>Create a better financial system</td>
                  <td><i class="fa fa-check"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- //.counter-item -->
        </div>
        <!-- //.col-xs-6 col-sm-6 col-md-3 -->
        <div class="col-md-6 col-xs-6 text-left">
          <div class="counter-item not-right-column">
            <p>StrideUp DOES NOT:</p>
            <table class="table">
              <tbody>
                <tr>
                  <td> Overburden you with debt</td>
                  <td><i class="fa fa-times"></i></td>
                </tr>
                <tr>
                  <td>Force more compromise in housing</td>
                  <td><i class="fa fa-times"></i></td>
                </tr>
                <tr>
                  <td>Keep you stuck renting</td>
                  <td><i class="fa fa-times"></i></td>
                </tr>
                <tr>
                  <td>Increase housing cost every year</td>
                  <td><i class="fa fa-times"></i></td>
                </tr>
                <tr>
                  <td>Hide fees and charges</td>
                  <td><i class="fa fa-times"></i></td>
                </tr>
                <tr>
                  <td>Protect the status quo</td>
                  <td><i class="fa fa-times"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- //.counter-item -->
        </div> 
        <!-- //.col-xs-6 col-sm-6 col-md-3 -->     
    </div>
    <!-- //End Content Boxes -->      
  </div>
  <!-- //.section-content -->
</div>
<!-- //.section-inner -->
</section>
<!-- //End Why Us Section -->

