<!-- Begin Our Services Section -->
<section id="fairer-system" class="section section-bgimage-yes">
<div class="section-inner">
  <div class="section-overlay"></div>
  <div class="container section-content">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h3 class="main-title">Fairer System</h3>

          <h4 class="sub-title">We founded StrideUp on the belief that there’s a fairer way for people to buy homes. No banks, no mortgages, no brokers, no upfront fees.</h4>

          <span class="section-line"></span>
        </div>
        <!-- //.section-title -->
      </div>
      <!-- //.col-md-12 -->
    </div>    
    <!-- //.row -->

    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="funny-boxes float-shadow not-right-column text-center">
          <span class="funny-boxes-icon">
            <i class="fa fa-lightbulb-o"></i>
          </span>

          <div class="funny-boxes-text">
            <p>More affordable for home buyers, better returns for investors</p>
          </div>
          <!-- //.funny-boxes-text -->
        </div>
        <!-- //.funny-boxes -->
      </div>
      <!-- //.col-sm-4 col-md-4 -->

      <div class="col-sm-4 col-md-4">
        <div class="funny-boxes float-shadow not-right-column text-center">
          <span class="funny-boxes-icon">
            <i class="fa fa-heart-o"></i>
          </span>

          <div class="funny-boxes-text">
            <p>Buying a home can stretch finances. We ease the burden by never taking upfront fees</p>
          </div>
          <!-- //.funny-boxes-text -->
        </div>
        <!-- //.funny-boxes -->
      </div>
      <!-- //.col-sm-4 col-md-4 -->

      <div class="col-sm-4 col-md-4">
        <div class="funny-boxes float-shadow text-center">
          <span class="funny-boxes-icon">
            <i class="fa fa-flask"></i>
          </span>

          <div class="funny-boxes-text">
            <p>A financial system that bends to your needs</p>
          </div>
          <!-- //.funny-boxes-text -->
        </div>
        <!-- //.funny-boxes -->
      </div>
      <!-- //.col-sm-4 col-md-4 -->
    </div>
    <!-- //.row -->
  </div>
  <!-- //.section-content -->
</div>
<!-- //.section-inner -->
</section>
<!-- //End Our Services Section -->


