<!-- Begin Intro Section -->
<section id="intro">
<div id="parallax-1" class="parallax">
  <div class="bcg skrollable skrollable-between" data-anchor-target="#parallax-1" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;">
    <div class="intro-body text-left">
      <div class="container">
        <div class="row">
          <div class="col-md-12 intro-content">
            <!--
            <div class="logo">
              <h1>R</h1>
            </div>
            -->
            <!-- //.logo -->

            <div class="intro-text text-left">
              <h2>Making Housing More Affordable</h2>

              <p class="lead">Stop saving for a mortgage, start buying your house</p>
            </div>
            <!-- //.intro-text -->

            <div class="page-scroll">
              <form class="form-inline">
                <div class="form-group">
                  <label class="sr-only" for="exampleInputEmail3">Email address</label>
                  <input type="email" class="form-control input-lg" id="exampleInputEmail3" placeholder="Email">
                </div>
                <button type="submit" class="btn  btn-lg btn-default btn-rj">Sign in</button>
              </form>
            </div>
            <!-- //.page-scroll -->
          </div>
          <!-- //.intro-content -->
        </div>
        <!-- //.row -->
      </div>
      <!-- //.container -->
    </div>
    <!-- //.intro-body -->
  </div>
  <!-- //.bcg -->
</div>
<!-- //.parallax -->
</section>
<!-- //End Intro Section -->
