<!-- Begin Our Services Section -->
<section id="choose" class="section section-bgimage-yes">
<div class="section-inner">
  <div class="section-overlay"></div>
  <div class="container section-content">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h3 class="main-title">How Much Do You Need To Earn?</h3>

          <h4 class="sub-title">
            You choose your property just as you would with normal house buying. We
            don’t restrict you to expensive new build developments.
          </h4>

          <span class="section-line"></span>
        </div>
        <!-- //.section-title -->
      </div>
      <!-- //.col-md-12 -->
    </div>    
    <!-- //.row -->

  </div>
  <!-- //.section-content -->
</div>
<!-- //.section-inner -->
</section>
<!-- //End Our Services Section -->



