<!-- Begin Our Services Section -->
<section id="howitworks" class="section">
<div class="section-inner">
  <div class="container section-content">

    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="funny-boxes float-shadow not-right-column text-center">

          <div class="funny-boxes-text">
            <h3>Your Selection</h3>
            <p>Any property that’s available

            on the market can be 

            funded by StrideUp
            </p>
          </div>
          <!-- //.funny-boxes-text -->
        </div>
        <!-- //.funny-boxes -->
      </div>
      <!-- //.col-sm-4 col-md-4 -->

      <div class="col-sm-4 col-md-4">
        <div class="funny-boxes float-shadow not-right-column text-center">

          <div class="funny-boxes-text">
            <h3>Housing Stability</h3>
            <p>
            StrideUp gives you a long

            term agreement to live in the 

            property at a fixed cost.
            </p>
          </div>
          <!-- //.funny-boxes-text -->
        </div>
        <!-- //.funny-boxes -->
      </div>
      <!-- //.col-sm-4 col-md-4 -->

      <div class="col-sm-4 col-md-4">
        <div class="funny-boxes float-shadow text-center">
          <div class="funny-boxes-text">
            <h3>Full Ownership</h3>
            <p>
            Gradually increase your 

            ownership of the property 

            until you own fully.
            </p>
          </div>
          <!-- //.funny-boxes-text -->
        </div>
        <!-- //.funny-boxes -->
      </div>
      <!-- //.col-sm-4 col-md-4 -->
    </div>
    <!-- //.row -->
  </div>
  <!-- //.section-content -->
</div>
<!-- //.section-inner -->
</section>
<!-- //End Our Services Section -->



