<!-- Begin Intro Section -->
<section id="buyers-intro">
<div id="parallax-1" class="parallax">
  <div class="bcg skrollable skrollable-between" data-anchor-target="#parallax-1" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;">
    <div class="intro-body text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 intro-content">

            <div class="intro-text text-center">
              <h2>Housing Made Affordable</h2>

              <p class="lead">At StrideUp we don’t want you to have to compromise on your home.</p>
              <div id="animated-bars" class="row" data-currentbar="1">
                <div  class="col-md-1" >
                </div>
                <% 10.times.each  do |i| %>
                  <div  class="bars col-md-1" >
                    <div style="height: <%= (i+1)*10%>%" id="bar<%= i+1%>"></div>
                  </div>
                <% end %>
              </div>
            </div>
            <!-- //.intro-text -->

            <div class="page-scroll">
              <a href="#map" >
                <i class="fa fa-chevron-down fa-3x"></i>
              </a>
            </div>
            <!-- //.page-scroll -->
          </div>
          <!-- //.intro-content -->
        </div>
        <!-- //.row -->
      </div>
      <!-- //.container -->
    </div>
    <!-- //.intro-body -->
  </div>
  <!-- //.bcg -->
</div>
<!-- //.parallax -->
</section>
<!-- //End Intro Section -->


