<!-- Begin Why Us Section -->
<section id="map" class="section">
<div class="section-inner">
  <div class="container section-content">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <br />
          <h2 class="main-title">How Much Do You Need To Earn?</h2>
          <br />
        </div>
        <!-- //.section-title -->
      </div>
      <!-- //.col-md-12 -->
    </div>
    <br />    
    <!-- //.row -->

    <!-- Begin Content Boxes -->
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 text-left">
          MAP
        </div>
        <!-- //.col-xs-6 col-sm-6 col-md-3 -->
        <div class="col-md-6 text-left">
          DATA
        </div> 
        <!-- //.col-xs-6 col-sm-6 col-md-3 -->     
      </div>
      <!-- //.col-md-12 -->
    </div>
    <!-- //End Content Boxes -->      
  </div>
  <!-- //.section-content -->
</div>
<!-- //.section-inner -->
</section>
<!-- //End Why Us Section -->


