<!-- Begin Who We Are Section -->
<section id="afford" class="section section-bgimage-yes">
<div class="section-inner">
  <div class="section-overlay"></div>
  <div class="container section-content">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h2 class="main-title">Wealth Generation</h2>

          <span class="section-line"></span>
        </div>
        <!-- //.section-title -->
      </div>
      <!-- //.col-md-12 -->
    </div>
    <!-- //.row -->

    <div class="row">
      <div class="col-md-8">
        <div class="who-we-are-text">
          <p>
          £1000 invested into property in 2011 would

          now be worth £1,517 compared to just £1,086 

          if the money had been left in a bank account.
          <br/>

          In other words saving to buy home is hard. 

          When prices rise so fast it’s hard just to keep 

          up.
          <br/>

          That’s why at StrideUp we think it’s better to 

          start buying your home as soon as you can.
          </p>

          <!-- //.page-scroll -->
        </div>
        <!-- //.who-we-are-text -->
      </div>
      <div class="col-md-4">
        HERE GOES HOUSE ANIM
      </div>
      <!-- //.col-md-6 -->

      <!-- //.col-md-6 -->
    </div>
    <!-- //.row -->
  </div>
  <!-- //.section-content -->
</div>
<!-- //.section-inner -->
</section>
<!-- //End Who We Are Section -->



